
#blogpost {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.blogpost-content {
    width: 700px;
    text-align: left;
    display: block; 
    margin: 0 auto; 
}

.blogpost-content {
    align-items: left;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


.bg-image-blogpost {
    height: 100px;
}

.blogpost-image {
    width: 700px;
    height: 300px;
    background-position-x: center;
    object-fit: cover;
}

.share-btn-div {
    display: flex;
    justify-content: right;
}

.share-btn:hover {
    background-color: var(--green);
    color: var(--dark);
}

.profile-image-circle {
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-position-x: center;
    background-size: cover;
}

.blogpost-tittel-og-forfatter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.forfatter-box {
    padding: 1rem;
}

.top-of-blog-info {
    display: flex;
    justify-content: space-between;
}

#fullscreen-image-view {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#fullscreen-image-view img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

#close-fullscreen-image {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}
