* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --dark: #322E40;
    --bluegray: #D7D4E6;

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: var(--white);
    filter: drop-shadow(0 0 0.75rem black);
}
  

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.bg-image {
    background-image: url(https://github.com/elanetto/FED1-PE1-elanetto/blob/main/assets/images/keywater/main_image.jpg?raw=true);
    object-fit: fill;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bg-image h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2rem 4rem;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: var(--dark);
    color: var(--bluegray);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: auto;
    padding: 2rem;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: var(--bluegray);
}