* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --dark: #322E40;
    --gray: #D7D4E6;
    --green: #A0B17D;

}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
}

.logo {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--white);
    font-size: 2rem;
}

.title-index {
    color: var(--white);
    filter: drop-shadow(0 0 0.25rem #322E40);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    text-align: center;
}

.title-index p i {
    font-size: 2rem;
    padding-top: 1rem;
}
  

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.bg-image {
    background-image: url(https://github.com/elanetto/FED1-PE1-elanetto/blob/main/assets/images/keywater/main_image.jpg?raw=true);
    object-fit: fill;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bg-image h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2rem 4rem;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.navigation ul a {
    color: var(--white);
    filter: drop-shadow(0 0 0.25rem #322E40);
}

.navigation ul a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content:end;
    width: 100vw;
    background-color: var(--green);
    padding: 5rem;
}

.about-us-image {
    width: 600px;
}

.about-text {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
}

.about-us h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
}

.register-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.register-form-inputs ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.register-form-inputs ul li input {
    width: 250px;
    height: 30px;
}

.btn-admin {
    background-color: var(--dark);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 6px;
    border-style: none;
}

.btn-admin:hover {
    background-color: var(--green);
    color: var(--dark);
}

.btn-admin:active {
    background-color: var(--green);
    color: var(--dark);
    font-style: italic;
}

.already-user-text {
    text-align: center;
    font-size: 0.8rem;
}

.register-box {
    background-color: #ffffffab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 6px;
}

.register-box h1 {
    text-align: center;
    font-size: 4rem;
}

#register-error {
    color: red;
    font-style: italic;
    background-color: #ffffff88;
    padding: 1rem;
    border-radius: 6px;
    display: none;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--dark);
    color: var(--gray);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: auto;
    padding: 2rem;
}

.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    color: var(--gray);
}

.footer-links a:hover {
    text-decoration: underline;
}